.menu-items {
  width: 224px;
  // margin-top: 12.5px;
  // background-color: red;

  .item {
    // background-color: red; 
    position: relative;
    overflow: hidden;

    &.separate {
      border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
      background-color: rgba(22, 24, 35, 0.03); // ✔️ viết đầy đủ property
    }

    .check-icon {
      color: var(--primary-color, #20d5ec);
      font-size: 1.4rem;
      position: absolute;
      right: 16px;
    }
  }
}

.menu-popper {
  // background-color: red;
  // display: flex;
  // flex-direction: column;
}

.menu-body {
  // background-color: red;
  overflow-y: auto;
}

//header
.header {
  // background-color: red;
  position: relative;
  height: 50px;
  margin-top: -8px;
  flex-shrink: 0;
}

.back-btn {
  // background-color: yellow;
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .icon {
    width: 50px;
  }
}

.header-title {
  // background-color: green;
  position: absolute;
  // top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.6rem;
}